<div class="p-5" id="Akhilesh-section">    
    <div class="row d-flex align-items-stretch">
        
        <div class="col-md-6 mt-4">
            <br>
            <img src="/assets/imgs/20191203_185128.jpg" position ="center" alt ="Akhilesh Khambekar">
        </div>
        <div class="col-md-6 mt-5 d-flex align-items-stretch">
            <div class="card mx-auto d-flex align-items-stretch card-width">
                <div class="p-3">
                    <p class="text-center">
                        <h1> Akhilesh Khambekar</h1>
                    </p>
                    <p class="text-justify">
                    <div class="bio-text">
                    My name is Akhilesh Khambekar. I am a Tech and Innovation Intern at Draft Studios. 
                    I study Mechanical Engineering, with a potential minor in Computer Science at the Unversity of Pennsylvania and will graduate in 2024.
                    Coding is one of my passions, and that is why I love the work at Draft Studios. 
                    I love doing DIY projects and Origami as my hobbies. <br><br>

                    I look forward to working with my team to deliver high quality web pages to our clients!
                    <br><br>
                    </div>
                    </p>
                    <a class="btn btn-primary btn-width" href="https://www.linkedin.com/in/akhilesh-khambekar/" role="button">
                        <div class="btn-text">LinkedIn</div> 
                    </a>
                </div>    
            </div>
        </div>
    </div>
</div>

<style>
    .bio-text {
        font-size: 14;
    }
    .btn-text {
        font-size: 14;
        font-weight: bold;
        color: white;
    }
    .btn-width {
        width: 7rem;
    }
    .card-width{
        width: 90%;
    }
    #Akhilesh-section h1 {
        text-align: center;
    }
    #Akhilesh-section img {
        max-width: 90%;
        margin-left: 5%;
        margin-right: 0%;
    }
</style>
