<div class="p-5">    
    <div class="row">
        <div class="col md-6">
        </div>
            <p class="text-center">
            <h1 class ="text center" > Akhilesh Khambekar</h1>
            </p>
            <p class="text-justify">
             <div class="bio-text">
                My name is Akhilesh Khambekar. I am a Tech and Innovation Intern at Draft Studios. 
                I study Mechanical Engineering, with a potetntial minor in Computer Science at the Unversity of Pennsylvania and will graduate in 2024.
                Coding is one of my passions, and that is why I love the work at Draft Studios. 
                I love doing DIY projects and Origami as my hobbies. 

                I look forward to working with my team to deliver high quality web pages to our clients!

                </div>
            </p>
            <a class="btn btn-primary btn-width" href="https://www.linkedin.com/in/akhilesh-khambekar/" role="button">
                <div class="btn-text">LinkedIn</div> 
            </a>
        </div>
        <div class="col md-6 col order-first">
            <br>
            <img src="/assets/imgs/20191203_185128.jpg" class="img-fluid" alt ="Akhilesh Khambekar">
        </div>
    </div>
</div>

<style>
    .bio-text {
        font-size: 14;
    }
    .btn-text {
        font-size: 14;
        font-weight: bold;
        color: white;
    }
    .btn-width {
        width: 5rem;
    }
</style>