<section>
    <div class="container alice">
        <div class="row">
            <div class="col-md-12 alice-main shadow my-4 rounded">
                <div class="row alice-top rounded-top">
                    <div class="col-md-4 alice-pic">
                        <img src="/assets/imgs/alice/alice-profile.jpg">
                    </div>
                    <div class="col-md-8 text-center align-middle my-4 m-md-auto">
                        <h1 class="alice-h1">Alice He</h1>
                        <h2 class="alice-h2">Developer</h2>
                        <div class="alice-icons">
                            <a href="mailto:ahe@draftstudios.io"><i data-feather="mail"></i></a>
                            <a href="https://www.linkedin.com/in/alicezhe" target="_blank"><i data-feather="linkedin"></i></a>
                            <a href="https://www.github.com/alicezhe" target="_blank"><i data-feather="github"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row alice-bottom">
                    <div class="col-lg-8">
                        <h3 class="alice-h3">Hi, I'm Alice! <span class="alice-wave">👋</span></h3>
                        <p class="alice-p">
                            I’m a student at the University of Pennsylvania majoring in computer science and minoring in economics, mathematics, 
                            and linguistics. I am passionate about the intersection of art and technology, architecture, and natural language 
                            processing. I’m currently working on my web development and data visualization skills. Growing up, I spent half of 
                            my life in Hong Kong and the other half in the United States. I currently reside in Washington, DC. In my free time, 
                            I like reading, playing instruments, and trying out new recipes.
                        </p>
                    </div>
                    <div class="col-lg-4 alice-table mt-3">
                        <table>
                            <tr>
                                <td class="alice-info-label">Location</td>
                                <td>Washington, DC</td>
                            </tr>
                            <tr>
                                <td class="alice-info-label"> Organization</td>
                                <td>Draft Studios</td>
                            </tr>
                            <tr>
                                <td class="alice-info-label">School</td>
                                <td>University of Pennsylvania</td>
                            </tr>
                            <tr>
                                <td class="alice-info-label">Email</td>
                                <td><a href="mailto:ahe@draftstudios.io">ahe@draftstudios.io</a></td>
                            </tr>
                            <tr>
                                <td class="alice-info-label">Birthday</td>
                                <td>May 16</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row alice-bottom">
                    <h3 class="alice-h3">Currently...</h3>
                    <div class="col-lg-4">
                        <h4 class="alice-h4">On my bookshelf</h4>
                        <div class="m-auto d-flex text-center align-middle">
                            <div class="alice-item">
                                <img src="/assets/imgs/alice/normalpeople.jpg" alt="Normal People" class="alice-item-img">
                                <p class="alice-item-text">Normal People by Sally Rooney</p>
                            </div>
                            <div class="alice-item">
                                <img src="/assets/imgs/alice/l'etranger.jpg" alt="L'Etranger" class="alice-item-img">
                                <p class="alice-item-text">L'Etranger by Albert Camus</p>
                            </div>
                            <div class="alice-item">
                                <img src="/assets/imgs/alice/tuesdayswmorrie.jpg" alt="Tuesdays with Morrie" class="alice-item-img">
                                <p class="alice-item-text">Tuesdays with Morrie by Mitch Albom</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <h4 class="alice-h4">On my playlist</h4>
                        <div class="m-auto d-flex text-center align-middle">
                            <div class="alice-item">
                                <img src="/assets/imgs/alice/declanmckenna.jpg" alt="Declan McKenna" class="alice-item-img">
                                <p class="alice-item-text">Declan McKenna</p>
                            </div>
                            <div class="alice-item">
                                <img src="/assets/imgs/alice/nogaerez.jpg" alt="Noga Erez" class="alice-item-img">
                                <p class="alice-item-text">Noga Erez</p>
                            </div>
                            <div class="alice-item">
                                <img src="/assets/imgs/alice/lorde.jpg" alt="Lorde" class="alice-item-img">
                                <p class="alice-item-text">Lorde</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <h4 class="alice-h4">On my watchlist</h4>
                        <div class="m-auto d-flex text-center align-middle">
                            <div class="alice-item">
                                <img src="/assets/imgs/alice/moneyheist.jpg" alt="Money Heist" class="alice-item-img">
                                <p class="alice-item-text">Money Heist</p>
                            </div>
                            <div class="alice-item">
                                <img src="/assets/imgs/alice/siliconvalley.jpg" alt="Silicon Valley" class="alice-item-img">
                                <p class="alice-item-text">Silicon Valley</p>
                            </div>
                            <div class="alice-item">
                                <img src="/assets/imgs/alice/gilmoregirls.jpg" alt="Gilmore Girls" class="alice-item-img">
                                <p class="alice-item-text">Gilmore Girls</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script>
    feather.replace()
</script>

<style>
    .alice {
        font-family: Inter, san-serif;
        color: #767676;
    }
    .alice-h1 {
        font-size: 3em;
        color: #343434;
    }
    .alice-h1, .alice-info-label {
        font-weight: 600;
    }
    .alice-h2, .alice-p {
        font-weight: 400;
    }
    .alice-h2 {
        font-size: 1.5em;
        color: #343434;
    }
    .alice-h3, .alice-h4 {
        font-weight: 500;
    }
    .alice-h4 {
        font-size: 1.25em;
    }
    .alice-info-label {
        padding-right: 40px;
    }
    .alice-p {
        margin-right: 2%;
    }
    .alice-pic img {
        width: 90%;
        margin: auto;
        position: relative;
        left: 10%;
        top: 10%;
    }
    .alice-top {
        background: rgb(217,214,251);
        background: linear-gradient(180deg, rgba(217,214,251,1) 60%, rgba(189,199,252,1) 100%);
    }
    .alice-bottom {
        margin: 8% 2% 0;
    }
    .alice-bottom:last-child {
        margin: 2% 2% 5%;
    }
    .alice-icons a {
        color: #727272;
        padding: 5px;
        transition: color 200ms ease-in-out;
    }
    .alice-icons a:hover, .alice-table a:hover {
        color: #343434;
    }
    .alice-table td {
        padding-bottom: 10px;
    }
    .alice-table a {
        color: #767676;
        transition: color 200ms ease-in-out;
    }
    .alice-item {
        margin: auto;
        position: relative;
        text-align: center;
        width: 30%;
    }
    .alice-item img {
        transition: all 200ms ease-in-out;
        width: 100%;
    }
    .alice-item-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        visibility: hidden;
        transition: all 200ms ease-in-out;
        white-space: pre-line;
        cursor: default;
    }
    .alice-item:hover .alice-item-img {
        opacity: 0.2;
    }
    .alice-item:hover .alice-item-text {
        visibility: visible;
        color: #343434;
        opacity: 1;
    }
    .alice-wave {
        animation-name: wave-animation;
        animation-duration: 2.5s;
        animation-iteration-count: infinite;
        transform-origin: 70% 70%;
        display: inline-block;
    }
    @keyframes wave-animation {
        0% { transform: rotate(0.0deg) }
        10% { transform: rotate(14.0deg) }  
        20% { transform: rotate(-8.0deg) }
        30% { transform: rotate(14.0deg) }
        40% { transform: rotate(-4.0deg) }
        50% { transform: rotate(10.0deg) }
        60% { transform: rotate( 0.0deg) } 
        100% { transform: rotate( 0.0deg) }
    }
    @media (max-width: 768px) {
        .alice-pic img {
            border-radius: 50%;
            width: 50%;
            display: block;
            left: 0%;
            top: 0%;
            margin: auto;
            padding-top: 25px;
        }
    }
    @media (max-width: 992px) {
        .alice-h4 {
            margin: 20px 0;
        }
    }
</style>