<section>
    <div class="container">

    <!-- Your HTML Goes Here-->
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1 class =  "aboutTitle">About Me</h1>
        <p>Hello, my name is Calvin Wong, a Development Intern at Draft Studios. 
            I chose to work as an intern here at Draft Studios because I enjoy programming 
            and the processes to creating a website or software. I am majoring in Computer Science
            at Drexel University because of my passion for programming and the algorithsm surrounding it.
            Some of my personal hobbies include long-distance runs, basketball, and video games like 
            League of Legends and Valorant. 
        </p>
        <div class = "row">
            <div class = "column">
                <a href = "https://github.com/calvinwongz" style = "display:block" target = _blank>
                <img src = "https://cdn1.iconfinder.com/data/icons/picons-social/57/github_rounded-64.png" 
                 alt = "Github">
                </a> 
            </div>
            <div class = "column">
            <a href = "https://www.linkedin.com/in/calvin-wong-10a754184/" style = "display:block" target = _blank>
                <img src = "https://cdn2.iconfinder.com/data/icons/social-18/512/LinkedIn-64.png" 
                 alt = "LinkedIn">
            </a>
            </div>
        </div>
        
    </body>
    </html>


    </div>
</section>

<script>
    // Your Javascript Goes Here

</script>

<style>
    /** Your CSS Goes Here**/
    .aboutTitle {
        font-family: cursive;
    }
    .column {
        flex: 10.33%;
    }
    .row {
        display:flex;
    }
</style>