<section>
    <div class="container">

        <h1 class =  "aboutTitle">About Me</h1>
        <p>Hello, my name is Calvin Wong, a Development Intern at Draft Studios. 
            I chose to work as an intern here at Draft Studios because I enjoy programming 
            and the processes in creating a website or software. I am majoring in Computer Science
            at Drexel University because of my passion for programming and the algorithsm surrounding it.
            Some of my personal hobbies include long-distance runs, basketball, and video games like 
            League of Legends and Valorant. 
        </p>
        <div class = "row">
            <div class = "column">
                <a href = "https://github.com/calvinwongz" style = "display:block" target = _blank>
                <img src = "https://cdn1.iconfinder.com/data/icons/picons-social/57/github_rounded-64.png" 
                 alt = "Github">
                </a> 
            </div>
            <div class = "column">
            <a href = "https://www.linkedin.com/in/calvin-wong-10a754184/" style = "display:block" target = _blank>
                <img src = "https://cdn2.iconfinder.com/data/icons/social-18/512/LinkedIn-64.png" 
                 alt = "LinkedIn">
            </a>
            </div>
        </div>

    </div>
</section>

<style>
    /** Your CSS Goes Here**/
    .aboutTitle {
        font-family: cursive;
    }
    .column {
        flex: 10.33%;
    }
    .row {
        display:flex;
    }
</style>