<ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-Akhilesh-tab" data-bs-toggle="pill" data-bs-target="#pills-Akhilesh"
            type="button" role="tab" aria-controls="pills-Akhilesh" aria-selected="true">Akhilesh</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-Alice-tab" data-bs-toggle="pill" data-bs-target="#pills-Alice" type="button"
            role="tab" aria-controls="pills-Alice" aria-selected="false">Alice</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-Brandon-tab" data-bs-toggle="pill" data-bs-target="#pills-Brandon"
            type="button" role="tab" aria-controls="pills-Brandon" aria-selected="false">Brandon</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-Calvin-tab" data-bs-toggle="pill" data-bs-target="#pills-Calvin"
            type="button" role="tab" aria-controls="pills-Calvin" aria-selected="false">Calvin</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-Jasmine-tab" data-bs-toggle="pill" data-bs-target="#pills-Jasmine"
            type="button" role="tab" aria-controls="pills-Jasmine" aria-selected="false">Jasmine</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-Kevin-tab" data-bs-toggle="pill" data-bs-target="#pills-Kevin" type="button"
            role="tab" aria-controls="pills-Kevin" aria-selected="false">Kevin</button>
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-Akhilesh" role="tabpanel" aria-labelledby="pills-Akhilesh-tab">
        {% include Akhilesh-Khambekar.html %}
    </div>
    <div class="tab-pane fade" id="pills-Alice" role="tabpanel" aria-labelledby="pills-Alice-tab">
        {% include alice.html %}
    </div>
    <div class="tab-pane fade" id="pills-Brandon" role="tabpanel" aria-labelledby="pills-Brandon-tab">
        Work in Progress
    </div>
    <div class="tab-pane fade" id="pills-Calvin" role="tabpanel" aria-labelledby="pills-Calvin-tab">
        {% include Calvin.html %}
    </div>
    <div class="tab-pane fade" id="pills-Jasmine" role="tabpanel" aria-labelledby="pills-Jasmine-tab">
        {% include JasmineBio.html %}
    </div>
    <div class="tab-pane fade" id="pills-Kevin" role="tabpanel" aria-labelledby="pills-Kevin-tab">
        Work in Progress
    </div>
</div>